:host {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}
