<!-- <h1>Hello Angular Wolrd!</h1> -->

<!-- <p>{{ title }}</p>
<p><strong>{{ number - 2 }}</strong></p>
<p>{{ arr }}</p>
<p>{{ obj.a }}</p> -->
<!-- <img [src]="img" alt=""> -->

<!-- <button (click)="onClick()">Click me!</button>

<input type="text" (input)="onInput($event)">
<p><strong>{{ inputValue }}</strong></p>

<hr>
<app-post></app-post> -->
<!-- <app-post></app-post> -->

<!-- <hr>

<app-post4></app-post4> -->
<header>
  Header страницы
</header>

<router-outlet></router-outlet>

<footer>
  Footer страницы
</footer>
